{% extends "base.html" %}
{% load static %}

{% block link %}{% endblock %}

{% block title %}TripGuide{% endblock %}


{% block script %}
<script type="text/javascript">
  var contentsUrl = "{% url 'Contents:get_contents' %}";
  var boardListUrl = "{% url 'Board:list' %}";
  var reviewListUrl = "{% url 'r_list' %}";
  var contentsUrls = {};
  var boardUrls = {};
  var reviewUrls = {};
</script>
{% endblock %}



{% block contents %}
<div class="flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <div class="d-flex align-items-center">
    <p class="h2 m-3">통합검색</p>
  </div>
  <div class="d-flex align-items-center ms-3">
    <form method="GET" class="w-100 me-3 align-items-center flex-fill" action="{% url 'Contents:get_contents' %}">
      <input type="search" name="keyword" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-4 border-bottom">
  <!-- TODO data받으면 for문으로 다시 작성 -->
  <div class="col">
    <div class="card shadow-sm">

      <img src="../media/1.jpg" width="100%" height="225">

      <div class="card-body">
        <p class="card-text">남이섬은 서울에서 한강을 따라 동쪽으로 63Km지점에 가랑잎처럼 청평호수위에 떠 있는 남이섬,면적46만 평방미터에 둘레는 약 5킬로미터에 이른다고 합니다.
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" >View</button>
          </div>
          <small class="text-muted">4.8/5.0</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="../media/2.jpg" width="100%" height="225">

      <div class="card-body">
        <p class="card-text">나주 산림자연연구소는 연구하는 장소입니다. 연구 장소뿐만 아니라 넓은 부지에 도민들을 위해 산책로와 휴식 공간을 마련해 놓아서 마음껏 멋진 나무들이 함께 하는 장소를 즐길 수 있습니다.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" >View</button>
          </div>
          <small class="text-muted">4.3/5.0</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="../media/3.png" width="100%" height="225">

      <div class="card-body">
        <p class="card-text">경주시(慶州市)는 대한민국에 있는 시이다. 시청 소재지는 동천동이고, 행정구역은 4읍 8면 11동이다. 1천여년 간 신라의 수도였으며, 경상북도에서 4번째로 인구가 많은 도시다.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" >View</button>
          </div>
          <small class="text-muted">4.1/5.0</small>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
  <div class="bd-example flex-fill m-3">
    <div class="d-flex">
      <p class="h2 mb-3 flex-fill">베스트 게시글</p>
      <button type="button" class="btn btn-sm btn-outline-secondary mr-3"
        onclick="location.href=boardListUrl;">More</button>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">순위</th>
          <th scope="col">제목</th>
          <th scope="col">추천수</th>
          <th scope="col">게시일</th>
        </tr>
      </thead>
      <tbody>
        {% for b in bestBoard %}
        <script>
          boardUrls['{{b.id}}'] = "{% url 'Board:detail' b.id %}";
        </script>
        <tr onclick="location.href=boardUrls['{{b.id}}'];">
          <th scope="row">{{forloop.counter}}</th>
          <td>{{b.title}}</td>
          <td>{{b.like_count}}</td>
          <td>{{b.registered_date|date:'Y-m-d'}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="bd-example flex-fill m-3">
    <div class="d-flex">
      <p class="h2 mb-3 flex-fill">베스트 리뷰</p>
      <button type="button" class="btn btn-sm btn-outline-secondary mr-3"
        onclick="location.href=reviewListUrl;">More</button>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">순위</th>
          <th scope="col">제목</th>
          <th scope="col">추천수</th>
          <th scope="col">게시일</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>올해 BEST 여행지</td>
          <td>32</td>
          <td>2022-04-13</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>여친이랑 같다온 후기</td>
          <td>15</td>
          <td>2022-04-4</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>싸게 여행 갔다</td>
          <td>9</td>
          <td>2022-04-7</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>오랜만에 여행</td>
          <td>6</td>
          <td>2022-04-13</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>코로나 뚫고 여행가기</td>
          <td>1</td>
          <td>2022-04-12</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




<div class="clear"></div>


{% endblock %}