{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load socialaccount %}

{% block link %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/theme.css' %}">
{% endblock %}

{% block title %}로그인{% endblock title %}

{% block contents %}
<div class="account-background">
  <main class="account">
    <div class="title">
      <a href="{% url 'home' %}">
        <img class="logo" src="{% static 'assets/tripguide-logo.png' %}" alt="Logo">
      </a>
    </div>

    <form method="post">
      {% csrf_token %}
      {% for error in form.non_field_errors %}
        <div class="form-error error-message">{{ error }}</div>
      {% endfor %}
      <div>
        {{ form.login|add_class:"cp-input"|attr:"placeholder:이메일"|add_error_class:"error" }}
        {% for error in form.login.errors %}
          <div class="form-error error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <div>
        {{ form.password|add_class:"cp-input"|attr:"placeholder:비밀번호"|add_error_class:"error" }}
        {% for error in form.password.errors %}
          <div class="form-error error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <button class="cp-button" type="submit">로그인</button>
    </form>
    
    <div class="info">
      <span class="naver-text">더 간단하게 로그인하세요!</span>
      <a href="{% provider_login_url 'naver' method='oauth2' %}">
        <img class="logo" src="{% static 'assets/naver_button.png' %}" alt="naver login">
      </a>
    </div>

    <div class="info">
      <a class="item" href="{% url 'account_reset_password' %}">비밀번호 찾기</a>
      <a class="item" href="{% url 'account_signup' %}">회원가입</a>
    </div>
  </main>
</div>
{% endblock %}
