{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block link %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/theme.css' %}">
{% endblock %}

{% block title %}비밀번호 재설정{% endblock title %}

{% block contents %}
<main class="cp-box account-password">
  <div class="title">
    <h1 class="heading">비밀번호 재설정</h1>
  </div>

  <form method="post">
    {% csrf_token %}
    <div>
      {{ form.password1|add_class:"cp-input"|attr:"placeholder:새 비밀번호"|add_error_class:"error" }}
      {% for error in form.password1.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <div>
      {{ form.password2|add_class:"cp-input"|attr:"placeholder:새 비밀번호 확인"|add_error_class:"error" }}
      {% for error in form.password2.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <button class="cp-button" type="submit">완료</button>
  </form>
</main>
{% endblock %}