{% extends "manage_base.html" %}
{% load static %}

{% block link %} {% endblock %}

{% block title %} {% endblock %}

{% block script %}
<script type="text/javascript">
    var mAdDetailUrls = {}
    var mAdWriteUrl = "{% url 'Manager:adDetail' 0 %}";
</script>
{% endblock %}



{% block contents %}
<div class="container m-3 d-flex">
    <p class="flex-fill h4">광고 관리</p>
</div>
<div class="container m-3 d-flex">
    <p class="flex-fill m-3">진행중 광고 - {{on_ad}}</p>
    <p class="flex-fill m-3">금일 조회수 - {{ad_view}}</p>
</div>
    
<div class="container m-3">
    <div class="m-3 container">
        {% for a in adData %}
        <script>
            mAdDetailUrls['{{a.id}}'] = "{% url 'Manager:adDetail' a.id %}";
        </script>
        <div class="row bg-light border rounded-3 m-3 p-3">
            <div class="col-3">
                {% if a.mainphoto %}
                <img src="{{a.mainphoto.url}}" class="img-thumbnail" alt="." height="100px">
                {% else %}
                <div>&nbsp;</div>
                {% endif %}
            </div>
            <div class="col-6">
                <div>제목 : {{a.title}}</div>
                <div>조회수 : {{a.view_cnt}}</div>
            </div>
            <div class="col-3">
                <div>만료일 : {{a.exp_date|date:'Y-m-d'}}</div>
                <div><button type="button" class="btn btn-outline-primary me-2" onclick="location.href = mAdDetailUrls['{{a.id}}'];">상세보기</button></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row m-3">
        <button type="button" class="btn btn-outline-primary me-2" onclick="location.href = mAdWriteUrl;">새로만들기</button>
    </div>
</div>



<!-- pagination -->
<div class="row mt-2">
    <div class="col-12">
        <nav>
            <ul class="pagination justify-content-center">
                {% if eventData.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?p={{eventData.previous_page_number}}">이전으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">                    
                    <a class="page-link disabled" href="#">이전으로</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{eventData.number}} / {{userData.paginator.num_pages }}</a>
                </li>                
                {% if eventData.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?p={{eventData.next_page_number}}">다음으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link disabled" href="#">다음으로</a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </div>
</div>
<!-- pagination -->
{% endblock %}