{% extends 'base.html'%}
{% load static %}
{% block contents %}
  <div class = "container">
    <div class = "text-center container">
      <br>
      <h2 class = "text-center">Search Contents</h2> 
      <br>
      <div class="flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="d-flex align-items-center">
          <p class="h2 m-3">통합검색</p>
        </div>
        <div class="d-flex align-items-center ms-3">
          <form method="GET" class="w-100 me-3 align-items-center flex-fill" action=".">
            <input type="search" name="keyword" class="form-control" placeholder="Search..." aria-label="Search">
          </form>
        </div>
      </div>
    </div> 
    <br><br>
    <div class="row">
      {% for content_data in all_contents %}
        <div class="col-md-4 col-sm-6 col-lg-3">
          <div class="card">
            <img class="card-img-top" src="{{ content_data.firstimage }}" alt="Card image cap">
            <div class="card-body text-center">
              <p class="card-title">{{ content_data.title }}</p>
              <p class="card-text">{{ content_data.addr1 }}</p>
              <a href="{% url 'Contents:detail' content_data.id %}">
                <input
                type="submit"
                value="Learn More"
                class="btn btn-danger btn-sm"
                type="button"
            /></a>
            </div>
          </div>
          <br><br><br>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}