{% extends "base.html" %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light table-hover">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>제목</th>
                    <th>아이디</th>
                    <th>일시</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for r_review in r_reviews %}
                <tr>
                    <td>{{r_review.id}}</td>
                    <td>{{r_review.title}}</td>
                    <td>{{r_review.writer}}</td>
                    <td>{{r_review.registered_dttm|date:"Y-m-d H:i:s"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a class="btn btn-primary" href="#">글쓰기</a>
    </div>
</div>
{% endblock %}
